In [2]:
a = [[1,2,3],[4,5]]

In [4]:
a

[[1, 2, 3], [4, 5]]

In [5]:
a[0][2]

3

In [10]:
a =[[1,2,3],[4,5,6]]
len(a)

2

In [12]:
len(a[1])

3

In [16]:
# Takes different rows input in differnent line
sizes =input().split()
m = int(sizes[0])
n = int(sizes[1])
l = []
for i in range(m):
    next_row = [int(i) for i in input().split()]
    l.append(next_row)
l

3 4
2 3 5 6
5 7 9 5
36 78 98 55

[[2, 3, 5, 6], [5, 7, 9, 5], [36, 78, 98, 55]]

In [19]:
# Takes each entry in separate line
sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])
l = []
for i in range(m):
    next_row=[]
    for j in range(n):
        element = int(input())
        next_row.append(element)
    l.append(next_row)
l

3 4
1
2
3
4
5
6
7
8
9
10
11
12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [23]:
sizes = input().split()
m = int(sizes[0])
n = int(sizes[1])
l_ld =[int(i) for i in input().split()]
l = []
for i in range(m):
    start_index = n *i
    end_index = n * (i + 1)
    next_row = l_ld[start_index: end_index]
    l.append(next_row)
l

3 4
1 2 3 4 5 6 7 8 9 10 11 12

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [24]:
a= [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
a[1:3]

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [27]:
a =[0 for i in range(10)]
a

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
a =[[1,2] for i in range(10)]
a

[[1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2]]

In [31]:
a = [[0 for j in range(5)] for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [33]:
a = [[j for j in range(5)] for i in range(10)]
a

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [37]:
a = [[i for j in range(5)] for i in range(10)]
a

[[0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5],
 [6, 6, 6, 6, 6],
 [7, 7, 7, 7, 7],
 [8, 8, 8, 8, 8],
 [9, 9, 9, 9, 9]]

In [54]:
#example print colomn vise sum
def print_column_wise_sum(a):
    m =len(a)
    if m==0:
        return
    n = len(a[0])
    for j in range(n):
        sum_j = 0
        for i in range(m):
            sum_j = sum_j + a[i][j]
        print(sum_j)

In [55]:
a = [[i for j in range(5)] for i in range(10)]
print_column_wise_sum(a)

45
45
45
45
45